# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


results
problem/store
model/save
model/store
app/build
__pycache__
.idea
analysis/output
analysis/constrained_fibre
analysis/constrained_truss
analysis/stiffness_ratio_transfer
analysis/unconstrained_truss
analysis/unconstrained_5x5
/taskC/studies/old/constrained_3x3/pretrained/
/taskC/studies/val1/pretrained/
/taskC/studies/val2/pretrained/
/taskC/studies/val3/pretrained/
/taskC/studies/val4/pretrained/
/analysis/constrained_3x3/
